@import '../global/helpers';

// Fonctionnement
.fonctionnement__step {
	display: flex;
	align-items: center;
	padding: 1.5rem 2rem;
	border-radius: 20px;
	@include box-shadow(false);
	gap: 1rem;
	position: relative;
	margin-left: 0.8rem;

	&::before {
		color: $white;
		counter-increment: fonctionnement-counter;
		content: "" counter(fonctionnement-counter);
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;

		left: -0.8rem;
		width: 1.6rem;
		height: 1.6rem;
		border-radius: 50%;
		background-color: $primary;
	}

	&:hover {
		background-color: $primary-light;

		.fonctionnement__step-icon {
			color: $primary;
		}
	}

	.fonctionnement__step-icon {
		color: $dark-grey;
		transition: color 0.3s ease-in-out;
		font-size: 1.3rem;
	}

	.fonctionnement__step-text {
		font-weight: bold;
	}
}

// Restaurant
.restaurants__card {
	border-radius: 15px;
	position: relative;
	overflow: hidden;
	@include box-shadow();

	.restaurants__card-img {
		width: 100%;
		height: auto;
		max-height: 180px;
		object-fit: cover;
	}

	.new-tag {
		position: absolute;
		top: 15px;
		right: 10px;
		background-color: $tertiary;
		color: $tertiary-dark;
		padding: 0.35rem 0.7rem;
		font-size: 0.9rem;
		font-weight: bold;
		border-radius: 2px;
	}

	.restaurants__card-content {
		padding: 0.5rem 1rem 1rem;
		@include flex(row, space-between, center);

		.restaurants__card-content_btn {
			font-size: 1.5rem;
			position: relative;

			&::after {
				@include heart-fill();
				content: "\f004";
				position: absolute;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				top: 0;
				left: 0;
				font-weight: bold;
				background-image: -webkit-linear-gradient($primary, $secondary);
				background-position: 50% 100%;
				background-repeat: no-repeat;
				background-size: 0 0;
				animation-name: out;
				animation-duration: 0.5s;
			}

			&:hover, &:active {
				&::after {
					animation-name: in;
					animation-duration: 0.5s;
					animation-fill-mode: forwards;
				}
			}
		}
	}
}

