@import '../global/helpers';

// Fonctionnement
.fonctionnement__step {
	display: flex;
	align-items: center;
	padding: 1.5rem 2rem;
	border-radius: 20px;
	@include box-shadow(false);
	gap: 1rem;
	position: relative;
	margin-left: 0.8rem;

	&::before {
		color: $white;
		counter-increment: fonctionnement-counter;
		content: "" counter(fonctionnement-counter);
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;

		left: -0.8rem;
		width: 1.6rem;
		height: 1.6rem;
		border-radius: 50%;
		background-color: $primary;
	}

	&:hover {
		background-color: $primary-light;

		.fonctionnement__step-icon {
			color: $primary;
		}
	}

	.fonctionnement__step-icon {
		color: $dark-grey;
		transition: color 0.3s ease-in-out;
		font-size: 1.3rem;
	}

	.fonctionnement__step-text {
		font-weight: bold;
	}
}

// Restaurant
.restaurants__card {
	border-radius: 15px;
	position: relative;
	overflow: hidden;
	@include box-shadow();

	.restaurants__card-img {
		width: 100%;
		height: auto;
		max-height: 180px;
		object-fit: cover;
	}

	.new-tag {
		position: absolute;
		top: 15px;
		right: 10px;
		background-color: $tertiary;
		color: $tertiary-dark;
		padding: 0.35rem 0.7rem;
		font-size: 0.9rem;
		font-weight: bold;
		border-radius: 2px;
	}

	.restaurants__card-content {
		padding: 0.5rem 1rem 1rem;
		@include flex(row, space-between, center);

		.restaurants__card-content_btn {
			font-size: 1.5rem;

			@include heart-fill-after();
			@include heart-fill-animation();
		}
	}
}

// Plats
.meal__card {
	width: 100%;
	cursor: pointer;
	border-radius: 15px;
	@include box-shadow();
	position: relative;
	overflow: hidden;

	.meal__card-content {
		@include flex(row, space-between, end);
		padding: 1rem;

		.meal__card-content_text {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;

			.meal__card-content_title {
				font-size: 1.1rem;
				font-weight: bold;
				margin-bottom: 0.5rem;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			.meal__card-content_description {
				margin: 0;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}

		.meal__card-price {
			font-weight: bold;
			transition: all 0.3s ease-in-out;
		}
	}

	.meal__card-check {
		@include flex(row, center, center);
		background-color: $tertiary;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		transition: all 0.3s ease-in-out;
		z-index: 1;
		width: 0;

		.meal__card-check_btn {
			font-size: 1.5rem;
			color: $white;
			transition: all 0.3s ease-in-out 0.1s;
		}
	}

	&:hover {
		.meal__card-price {
			margin-right: 70px;
		}

		.meal__card-check {
			width: 70px;
		}

		.meal__card-check_btn {
			transform: rotate(360deg);
		}
	}

	&:active {
		.meal__card-check_btn {
			color: $tertiary-dark;
		}
	}
}
