$primary: #9356DC;
$primary-light: #F5EDFF;
$secondary: #FF79DA;
$secondary-light: #FFD8F0;
$tertiary: #99E2D0;
$tertiary-dark: #437a6d;

$dark-grey: #575757;
$light-grey-bg: #EAEAEA;
$lighter-grey-bg: #F7F7F7;
$white: #FFFFFF;
$black: #000000;
$footer-bg: #353535;