// rounded btn
@mixin btn-rounded($bg1, $bg2, $color) {
	display: inline-block;
	border-radius: 50px;
	background-image: linear-gradient(to bottom, $bg1, $bg2);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	color: $color;
	padding: 1rem 2rem;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
	cursor: pointer;

	&:hover {
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
		filter: contrast(115%);
	}
}