// rounded btn
@mixin btn-rounded($bg1, $bg2, $color) {
	display: inline-block;
	border-radius: 50px;
	background-image: linear-gradient(to bottom, $bg1, $bg2);
	color: $color;
	padding: 1rem 1.5rem;
	cursor: pointer;
	@include box-shadow();
	border: none;
	font-size: 1rem;

	&:hover {
		filter: contrast(115%);
	}
}

// box-shadow
@mixin box-shadow($hover:true) {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease-in-out;

	@if $hover {
		&:hover {
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
			filter: contrast(115%);
		}
	}
}

// text underlined
@mixin text-underlined($color) {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		width: 60%;
		height: 3px;
		background-color: $color;
		bottom: -5px;
		left: 0;
	}
}

// flex
@mixin flex($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

// heart fill after
@mixin heart-fill-after($color1: $primary, $color2: $secondary) {
	position: relative;
	cursor: pointer;

	&::after {
		content: "\f004";
		position: absolute;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		top: 0;
		left: 0;
		font-weight: bold;
		background-image: -webkit-linear-gradient($color1, $color2);
		background-position: 50% 100%;
		background-repeat: no-repeat;
		background-size: 0 0;
		animation-name: out;
		animation-duration: 0.5s;
	}

	&:hover, &:active {
		&::after {
			animation-name: in;
			animation-duration: 0.5s;
			animation-fill-mode: forwards;
		}
	}
}

// heart fill keyframes animation
/*
 * @-webkit-keyframes for Chrome, Safari, and Opera
 * @keyframes for Firefox and IE
*/
@mixin heart-fill-animation {
	@-webkit-keyframes in {
		from {
			background-size: 0 0;
			opacity: 0;
		}
		to {
			opacity: 1;
			background-size: 100% 100%;
		}
	}

	@keyframes in {
		from {
			background-size: 0 0;
			opacity: 0;

		}
		to {
			opacity: 1;
			background-size: 100% 100%;
		}
	}

	@-webkit-keyframes out {
		0% {
			background-size: 100% 100%;
			opacity: 1;
		}
		100% {
			background-size: 0 0;
			opacity: 0;
		}
	}

	@keyframes out {
		0% {
			background-size: 100% 100%;
			opacity: 1;
		}
		100% {
			background-size: 0 0;
			opacity: 0;
		}
	}
}

// media queries
@mixin media($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 767px) {
			@content;
		}
	}
	@if $breakpoint == tablet {
		@media only screen and (min-width: 768px) and (max-width: 1023px) {
			@content;
		}
	}
	@if $breakpoint == desktop {
		@media only screen and (min-width: 1024px) {
			@content;
		}
	}
	@if $breakpoint == max-content-width {
		@media only screen and (min-width: $max-content-width) {
			@content;
		}
	}
}
