@import "../global/helpers";

.banner {
	background-color: $lighter-grey-bg;
	text-align: center;
	margin-bottom: 4.5rem;

	.banner__location {
		background-color: $light-grey-bg;
		padding: 1rem 0;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		color: $dark-grey;
		font-weight: bold;
	}

	.banner__content {
		padding: 2rem 3rem;

		.banner__title {
			margin-bottom: 1rem;
		}

		.banner__description {
			margin-bottom: 2rem;
		}
	}
}